.page {
	margin: 0;
	padding: 0;
    background: url("images/background.jpg") #91E4FB;
	text-align: center;
}
.wrapper {
    margin: auto;
   /* border: solid #000000;*/
    max-width: 60%;
	min-width: 350px;
}
.pageHead {
	margin: 27px auto 0;
    min-width: 350px;
    text-align: center;
}
.headLogo {
	font-size: 50px;
    display: inline-block;
    vertical-align: middle;
}
.indicationCircle {
    display: inline-block;
    width: 20px;
	height: 20px;
	background: #92D36E;
	border-radius: 10px;
    vertical-align: middle;
}
.sign {
    float: right;
}
#signName {
    font-size: 15px;
    width: 10em;
    border: none;
}
#signButton {
    background-color: #E6E6E6;
    font-size: 15px;
    border: none;
}
.chatBox {
	height: 400px;
	background-color: #FFFFFF;
	margin-top: 30px;
	border: none;
	overflow: hidden;
}
.senderName {
    max-width: 10em;
    height: 1em;
    font-size: 15px;
    resize: none;
    border: none;
    overflow: hidden;
    outline: none;
    float: left;
}
#chatItemSend {
    min-width: 75%;
    border: none;
    font-size: 15px;
    resize: none;
    overflow: hidden;
    outline: none;
    float: left;
}
#edit {
    float: right;
    background: #FFFFFF;
    border: none;
}
#delete {
    float:right;
    background: #FFFFFF;
    border: none;
}
#chatItemGet {
    min-width: 75%;
    border: none;
    font-size: 15px;
    resize: none;
    overflow: hidden;
    outline: none;
    float: left;
}
.chatAdd{
    margin-top: 5%;
    height: 60px;
    /*border: solid #000000;*/
}
#textMsg {
    width: 81%;
    height: 57px;
    font-size: 15px;
    resize: none;
    border: none;
    overflow: hidden;
    outline: none;
    float: left;
}
#sendMsg {
    height: 60px;
    border: none;
	width: 17%;
    font-size: 15px;
    background-color: #E6E6E6;
    float: right;
}
